.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next{
	opacity: 1;
	position:absolute;
	top: 50%;	
	width: 0;
	height: 0;
	transition: 0.2s;
	outline: none;
}

.owl-carousel .owl-nav button.owl-prev{
	left: 0;
}

.owl-carousel .owl-nav button.owl-next{
	right: 0;
}

.owl-prev span,
.owl-next span{
	position: absolute;
	font-size: 32px;
	color: #111111;
	top: -15px;	
}

.owl-prev span{
	left: -30px;
}

.owl-next span{
	left: 20px;
}