.font-weight-medium {
	font-weight: $font-weight-medium;
}
.font-weight-regular{
	font-weight:$font-weight-normal;
}

.font-weight-bold{
	font-weight: $font-weight-bold;
}
.font-size-16{
	font-size: 16px;
}
